.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .centerText {
    text-align: center;
    padding-bottom: 10px;
    color: brown;
    font-weight: bold;
  }